@model QuanLyBanHang_TapHoa.Models.TAIKHOAN

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Home/HomeLayout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TAIKHOAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhanQuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhanQuyen)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
