@model QuanLyBanHang_TapHoa.Models.TAIKHOAN
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Home/HomeLayout.cshtml";
}

<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner" class="bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
    <!-- Sign In Start -->
    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <a href="index.html" class="">
                            <h4 class="text-primary"><i class="fa fa-user-edit me-2"></i>Tạp hóa Group Bar</h4>
                        </a>
                        <h4>Đăng nhập</h4>
                    </div>
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-floating mb-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TenDangNhap, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.TenDangNhap, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TenDangNhap, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.MatKhau, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                                    @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Hiển thị mật khẩu</label>
                            </div>
                            <a href="">Nhớ mật khẩu</a>
                        </div>
                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Đăng nhập</button>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- Sign In End -->
</div>

